* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-bottom: 0;
}
a,
a:hover {
    text-decoration: none;
}

.img-fluid-home {
    max-width: 100%;
    height: auto;
}

@media only screen and (max-width: 530px) {
  .d-inline {
    margin-left: 19px;
  }
  .fleet-margin{
    margin-top: 6px;
  }
}

@media only screen and (max-width: 499px) {
  .carsmiley {
    padding-top: 18px;
  }
}
@media only screen and (min-width: 500px) and (max-width: 992px) {
  .carsmiley {
    padding-top: 98px;
  }
}

@media only screen and (max-width: 499px) {
  .img-fluid-home {
    max-width: 80%;
    height: auto;
  }
}

@media only screen and (max-width: 499px) {
  .img-fluid {
    max-width: 115%;
    height: auto;
  }
}

.tran-logo {
    width: 25%;
    height: auto;
}
@media only screen and (max-width: 767px) {
    .tran-img {
        transform: translateY(12px);
    }
}
@media only screen and (max-width: 400px) {
    .tran-logo {
        width: 70%;
        height: auto;
    }
}
@media only screen and (min-width: 401px) and (max-width: 500px) {
    .tran-logo {
        width: 60%;
        height: auto;
    }
}
@media only screen and (min-width: 501px) and (max-width: 767px) {
    .tran-logo {
        width: 42%;
        height: auto;
    }
}
.card-logo {
    width: 150%;
    height: auto;
}
@media only screen and (max-width: 499px) {
  .card-logo {
    width: 30px;
  }
}
@media only screen and (min-width: 450px) {
    #balance {
      font-size: 300%;
    }
}
@media only screen and (max-width: 499px) {
  .card-cross{
    margin-right: 20px;
  }
}
@media only screen and (min-width: 576px) {
  .trip-detail {
    margin-left: 20%;
  }
}
.trip-detail {
    width: 15%;
    cursor: pointer;
}
@media only screen and (max-width: 499px) {
  .trip-detail {
    width: 35%;
  }
}
@media only screen and (min-width: 500px) and (max-width: 742px) {
  .trip-detail {
    width: 22%;
  }
}
@media only screen and (min-width: 743px) and (max-width: 1200px) {
  .trip-detail {
    width: 20%;
  }
}

.inline{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 6000;
}
.number-alert{
    font-size: 15px;
    font-family: auto;
    font-weight: initial;
}
#map {
    height: 610px;
    width: 100%;
}
.FormPosition{
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-80%,-20%);
    z-index: 6000;
}
.modal-footer {
    width: 100%;
}
.modal-body {
    width: 100%;
}
.inline_field{
    position: absolute;
    top: 15%;
    left: 8%;
    transform: translate(-15%,-8%);
    z-index: 111;
    width: 244px;
    line-height: 32px;
}
@media only screen and (max-width: 576px) {
  .inline_field{
    position: absolute;
    top: 15%;
    left: 16%;
    transform: translate(-15%,-8%);
    z-index: 111;
    width: 244px;
    line-height: 32px;
}
}
.source_map{
    width: 120%;
}
.destination_map{
    width: 120%;
    margin-top: 5px;
}
.input_field{
    width: calc(100% - 2px);
    margin-left: 1px;
    padding-bottom: 2px;
    border: 0;
    cursor: text;
    outline: none;
}
.custom-radio .custom-control-label::before {
    width: 1.5rem;
    height: 1.5rem;
    border: 1px solid #7f8ba0;
    background-color: #fff;
    top: 0;
    left: -5px;
}
.custom-control-label::after {
    width: 1.5rem;
    height: 1.5rem;
    top: 0;
    left: -5px;
}
.custom-radio .custom-control-input:checked ~ .custom-control-label::before,
.custom-control-input:checked ~ .custom-control-label::before {
    top: 0;
    left: -5px;
    background-color: #fff;
    color: #2d5698;
}
.custom-radio .custom-control-input:checked ~ .custom-control-label::after {
    height: 15px;
    width: 15px;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-0.5px, 4.5px);
    background: #2e5698;
    border-radius: 50%;
}

.btn-facebook {
    color: #ffffff;
    font-size: large;
    font-weight: bold;
    background: #2d5698 url('../img/facebook.png') no-repeat left 11px center;
    width: 250px;
    padding: 10px 10px 10px 40px;
}

.btn-google {
    color: #000000;
    box-shadow: 0 0 5px #959697;
    font-size: large;
    font-weight: bold;
    background: #ffffff url('../img/brands-and-logotypes.png') no-repeat left 11px center;
    width: 250px;
    padding: 10px 10px 10px 40px;
}

.btn-facebook:hover, .btn-google:hover {
    opacity: .8;
}

.text-process {
    color: #555657;
}
.text-theme {
    color: #2d5698;
}
.text-theme-header {
    color: #7295b0;
}
.text-footer {
    color: #7f8ba0 !important;
}
#main {
    width: 100%;
    height: auto;
    background: url("../img/banner.jpg") no-repeat fixed center;
    background-size: cover;
    position: relative;
}

#main-home {
    width: 100%;
    height: 500px;
    background: url("../img/banner.jpg") no-repeat fixed center;
    background-size: cover;
    position: relative;
}

#about-entro {
    width: 100%;
    height: auto;
    background: url("../img/about.png") no-repeat fixed center;
    background-size: cover;
    position: relative;
}

#footer-top-home {
    width: 100%;
    height: auto;
    background: url("../img/bottom_service.png") no-repeat fixed center;
    background-size: cover;
    position: relative;
}

.header-text {
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.63), rgba(0, 0, 0, 0.192), rgba(0, 0, 0, 0));
    letter-spacing: 2px;
}
.header-text h1 {
    font-size: 3.2rem;
}
.header-text h2 {
    font-size: 2.8rem;
}

.process-icon {
    height: 50px;
}

.our-service h6, .about h6, .ride-sharing h6, .book-ride h6, .rd h6 {
    font-size: 19px;
}

.about h6 span {
    color: #b8babe;
}

.ride-sharing {
    background-image: linear-gradient(rgba(195, 224, 251, 0.42), rgba(14, 103, 187, 0), rgb(195, 224, 251, 0.42));
    height: auto;
}

.ride-border {
    border-right: 1px solid rgba(142, 180, 202, 0.514);
}

.logo {
    width: 130px;
    height: 50px;
}

.active {
    border-bottom: 2px solid #075ee0;
}

#footer {
    width: 100%;
    height: auto;
    padding: 50px 0;
    background-color: #030c1c;
}

.rounded-border {
    border-radius: 15px !important;
}

.list-group-horizontal {
    -ms-flex-direction: row;
    flex-direction: row;
}

.footer .list-group-item {
    padding: 7px 13px;
    height: 40px;
    width: 40px;
}

.inset-input {
    height: 53px;
    box-shadow: inset 0 0 4px #2d5698;
}

.btn-lrg {
    width: 190px;
    height: 60px;
    font-weight: bold;
    font-size: 22px;
    border: 0;
}

.btn-lrg img {
    height: 44px;
}

.home-header .btn-outline-dark {
    border: 1px solid #041b44 !important;
}

.home-header .btn-lrg {
    width: 190px;
    height: 60px;
    font-weight: bold;
    font-size: 17px;
    border: 0;
}

.home-header .inset-input {
    padding-left: 45px !important;
}

.home-header .prepend {
    top: 22px;
    left: 20px;
}

.home-header .pre-circle {
    width: 10px;
    height: 10px;
    border: 2px solid #97999c;
    border-radius: 50%;
}

.home-header .pre-line {
    width: 2px;
    height: 60px;
    background-color: #97999c;
}
.home-header .pre-square {
    width: 10px;
    height: 10px;
    border: 2px solid #97999c;
}

.grad-black {
    background-image: linear-gradient(to right, #7e7e7e, #222222);
}
.grad-black:hover {
    background-image: linear-gradient(to right, #222222, #7e7e7e);
}

.grad {
    background-image: linear-gradient(to right, #1235af, #04acde);
}
.grad:hover {
    background-image: linear-gradient(to right, #04acde, #1235af);
}

.m-close {
    width: 30px;
    height: 30px;
    box-shadow: 0.5px 1.5px 2px #5a5a5a;
    border-radius: 50%;
}

.form-group .bootstrap-select > .dropdown-toggle {
    height: 53px;
}

.btn-light {
    color: #6d777d !important;
    background-color: #f8f9fa0a !important;
    border-color: #f8f9fa00 !important;
}

/*input[type=password]::placeholder {
    -webkit-text-security: circle !important;
    font-size: 25px;
}*/

.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: 115px;
}

.bootstrap-select > .dropdown-toggle {
    height: inherit;
}

.bootstrap-select .dropdown-toggle .filter-option-inner-inner {
    padding: 7px 0;
}

.nav-link .btn-light {
    background-color: transparent !important;
    color: #000 !important;
    outline: 0;
    border: 0;
}

.nav-link .btn-light:not(:disabled):not(.disabled).active:focus,
.btn-light:not(:disabled):not(.disabled):active:focus,
.show > .btn-light.dropdown-toggle:focus,
.nav-link .btn-light.focus,
.btn-light:focus {
    outline: 0;
    border: 0;
    box-shadow: 0 0 0 0.2rem transparent;
}

.rounded-theme-left {
    border-radius: 20px 20px 20px 0;
}
.rounded-theme-right {
    border-radius: 20px 20px 0 20px;
}
.bg-info-theme {
    background-color: #cdedf8;
}

.shadow-lg {
    box-shadow: 0 0 10px #ddd;
}

.profile-image {
    width: 80px;
    height: 80px;


}
.service-image img {
    width: 120px;
    height: 80px;
}

.profile-image img {
    width: 100%;
    height: 100%;
    border: 4px solid #38a3b8;
    border-radius: 50%;
    object-fit: cover;
}

.edit-profile {
    height: 20px;
    width: 20px;
    font-size: 10px;
    bottom: 0;
    right: 0;
    box-shadow: 3px 4px 1px #ddd;
    color: #a3a7b1;
    cursor: pointer;
}
.edit-profile:hover {
    color: #000;
}

.sidebar .list-group-item {
    width: 100%;
    border: none;
    color: #a3a7b1;
    font-size: 18px;
    cursor: pointer;
}
.sidebar .list-group-item:hover {
    color: #000;
}
.li-icon {
    width: 24px;
    height: 24px;
}

.li-icon-sm {
    width: 14px;
    height: 14px;
}
.checked {
    color: #1235af;
}
.map-link {
    padding: 18px;
}

@media (max-width: 999px) {
    .our-service {
        margin-top: 0rem;
    }
    .ride-border {
        border-right: 1px solid rgba(142, 180, 202, 0);
    }
}

@media (max-width: 699px) {
    #main-home {
        height: 850px;
    }
    .header-text h2 {
        font-size: 1.5rem;
    }
    .header-text h1 {
        font-size: 1.8rem;
    }
}


.form-group input.max-w-100{
    max-width: 100%;
    padding-left: 95px !important;
}