

/* CHATBOX
=============== */
.chatbox {
    position: absolute;
    bottom: 5px;
    right: -100px;
}

/* CONTENT IS CLOSE */
.chatbox__support {
    display: flex;
    flex-direction: column;
    background: #eee;
    width: 300px;
    height: 350px;
    z-index: -123456;
    opacity: 0;
    transition: all .5s ease-in-out;
}

/* CONTENT ISOPEN */
.chatbox--active {
    transform: translate(-70%,40%);
    z-index: 123456;
    opacity: 1;
    position: relative;
}

.chatbox--actived {
    transform: translate(-70%,40%);
    z-index: 123456;
    opacity: 1;
    position: relative;
}

.h-100.w-100.grad.rounded-circle.map-link.chatbox__button {
    width: 55px !important;
    height: 55px !important;
    object-fit: cover;
    border-radius: 50% !important;
    margin-left: 290px;
    padding: 12px;
}

@media only screen and (max-width: 991px) {
    /* CHATBOX
    =============== */
    .chatbox {
        position: absolute;
        bottom: 5px;
        right: -78px;
    }
    /* CONTENT ISOPEN */
    .chatbox--active {
        transform: translate(-18%,-5%);
        z-index: 123456;
        opacity: 1;
        position: relative;
    }
    .chatbox--actived {
        transform: translate(12%,-5%);
        z-index: 123456;
        opacity: 1;
        position: relative;
    }
    .h-100.w-100.grad.rounded-circle.map-link.chatbox__button {
        width: 55px !important;
        height: 55px !important;
        object-fit: cover;
        border-radius: 50% !important;
        margin-left: 203px;
        padding: 12px;
        margin-bottom: 7px;
    }
}

/* BUTTON */
.chatbox__button {
    text-align: right;
}


/* HEADER */
.chatbox__header {
    position: sticky;
    top: -188px;
    background: orange;
}

/* MESSAGES */
.chatbox__messages {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    flex-direction: column-reverse;
}

.messages__item {
    background: orange;
    max-width: 60.6%;
    width: fit-content;
}

.messages__item--operator {
    margin-left: auto;
}

.messages__item--visitor {
    margin-right: auto;
}

/* FOOTER */
.chatbox__footer {
    position: sticky;
    bottom: 0;
}


